name: Mirror to Personal Repo

on:
  push:
    branches:
      - main

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout org repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Push to personal repo
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git remote add personal https://$PERSONAL_GITHUB_TOKEN@github.com/eduardomirand/les-taskup.git
          git push personal main --force
        env:
          PERSONAL_GITHUB_TOKEN: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
